:root {
    --text-border-color: white;
    --secondary-text-color: rgb(215, 215, 215);
    --title-border-color: black;
    --item-background-color: rgb(7, 63, 118);
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
    causes bad effect on img border*/
}

body {
    background-color: rgba(0, 0, 8, 0.93);
    color: var(--text-border-color);
    font-family: sans-serif;
    padding: 0 20px;
    text-align: center;
}

.upper-nav, .upper-nav-responsive, footer {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: var(--item-background-color);
    border-bottom: 2px solid var(--text-border-color);
    margin-bottom: 20px;
}

.upper-nav-responsive, .nav-links {
    display: none;
}

.nav-links {
    flex-direction: column;
    margin-top: 10px;
    row-gap: 10px;
}

/* for both upper and lower nav */
nav a {
    color: var(--text-border-color);
    text-decoration: none;
}

#members-section {
    background-color: var(--text-border-color);
}

#members-section h2 {
    color: var(--title-border-color);
}

#members {
    display: flex;
    justify-content: space-around;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 11px 0 3px 0;
}

#members img, .member {
    width: 30%;
}

#members img[alt="personal photo of Anisul Islam"], #members img[alt="personal photo of Lisa Milton"], .member {
    border: 1px solid var(--title-border-color);
}

.member {
    background-color: var(--item-background-color);
}

.member img {
    min-width: 100%;
    height: 68%;
    border: 0;
}

.member h5 {
    margin: 22px 0 8px 0;
}

.member p {
    color: var(--secondary-text-color);
    font-size: 0.65rem;
    line-height: 20px;
}

footer {
    align-items: center;
    border-top: 2px solid var(--text-border-color);
    margin-top: 20px;
    border-bottom: 0;
    margin-bottom: 0;
}

.lower-nav {
    column-gap: 30px;
    border-bottom: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
}

ul li:nth-child(2), footer p {
    margin: 15px 0;
}

footer p {
    text-align: left;
    color: var(--secondary-text-color);
}

.fa-brands {
    margin: 0 5px;
}

/* screen-size from 240 pixel*/
@media all and (min-width: 1201px) and (max-width: 1368px) {
    .member h5 {
        font-size: 11px;
        margin: 17px 0 8px 0;
    }
    
    .member p {
        font-size: 8px;
        line-height: 15px;
    }
}

@media all and (min-width: 901px) and (max-width: 1200px) {
    #members img, .member {
        width: 45%;
    }
    
    .member h5 {
        font-size: 12px;
        margin: 19px 0 14px 0;
    }
    
    .member p {
        font-size: 10px;
        line-height: 19px;
    }

    footer {
        flex-direction: column;
        row-gap: 20px;
    }

    ul {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 2px solid var(--text-border-color);
        border-bottom: 2px solid var(--text-border-color);
    }
}

@media all and (min-width: 769px) and (max-width: 900px) {
    #members img, .member {
        width: 45%;
    }
    
    .member h5 {
        font-size: 11px;
        margin: 15px 0 9px 0;
    }
    
    .member p {
        font-size: 9px;
        line-height: 15px;
    }

    footer {
        flex-direction: column;
        row-gap: 20px;
    }

    ul {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 2px solid var(--text-border-color);
        border-bottom: 2px solid var(--text-border-color);
    }
}

@media all and (min-width: 601px) and (max-width: 768px) {
    .upper-nav {
        display: none;
    }
    
    .upper-nav-responsive {
        display: flex;
        flex-direction: column;
    }

    #members img, .member {
        width: 45%;
    }
    
    .member h5 {
        font-size: 9px;
        margin: 13px 0 7px 0;
    }
    
    .member p {
        font-size: 8px;
        line-height: 12px;
    }

    footer {
        flex-direction: column;
        row-gap: 20px;
    }

    ul {
        padding-bottom: 10px;
        border-bottom: 2px solid var(--text-border-color);
    }
    
    footer p {
        font-size: 21px;
        text-align: center;
        padding: 0 5px;
    }
}

@media all and (min-width: 481px) and (max-width: 600px) {
    .upper-nav {
        display: none;
    }
    
    .upper-nav-responsive {
        display: flex;
        flex-direction: column;
    }

    #members img, .member {
        width: 90%;
    }
    
    .member h5 {
        font-size: 12px;
        margin: 20px 0 12px 0;
    }
    
    .member p {
        font-size: x-small;
        line-height: 20px;
    }

    footer {
        flex-direction: column;
        row-gap: 20px;
    }

    ul {
        padding-bottom: 10px;
        border-bottom: 2px solid var(--text-border-color);
    }
    
    footer p {
        font-size: 18px;
        text-align: center;
        padding: 0 5px;
    }
}

@media all and (min-width: 361px) and (max-width: 480px) {
    .upper-nav {
        display: none;
    }
    
    .upper-nav-responsive {
        display: flex;
        flex-direction: column;
    }

    #members img, .member {
        width: 90%;
    }
    
    .member h5 {
        font-size: 10px;
        margin: 13px 0 7px 0;
    }
    
    .member p {
        font-size: xx-small;
        line-height: 15px;
    }

    footer {
        flex-direction: column;
        row-gap: 20px;
    }

    ul {
        padding-bottom: 10px;
        border-bottom: 2px solid var(--text-border-color);
    }
    
    footer p {
        font-size: 15px;
        text-align: center;
        padding: 0 5px;
    }
}

@media all and (min-width: 240px) and (max-width: 360px) {
    .upper-nav {
        display: none;
    }
    
    .upper-nav-responsive {
        display: flex;
        flex-direction: column;
    }

    #members img, .member {
        width: 90%;
    }
    
    .member h5 {
        font-size: 8px;
        margin: 6px 0 4px 0;
    }
    
    .member p {
        font-size: xx-small;
        line-height: 11px;
    }

    footer {
        flex-direction: column;
        row-gap: 20px;
    }

    ul {
        padding-bottom: 10px;
        border-bottom: 2px solid var(--text-border-color);
    }
    
    footer p {
        font-size: 15px;
        text-align: center;
        padding: 0 5px;
    }
}